Flask==3.1.1
itsdangerous==2.2.0
mutagen==1.47.0
openpyxl==3.1.5
pycryptodome==3.23.0
pypdf==6.14.2
requests==2.34.2
urllib3==2.7.0
charset-normalizer==3.4.9
chardet==5.2.0
waitress==3.0.2
ytmusicapi==1.11.5
musicdl==2.13.4
